@model UserManagement.UserManager.AuthModels.ApplicationUser
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br /><br />
<div class="container">
    <div class="row">
    <div class="col-md-4">
        @if (TempData["Message"] != null)
        {
            <h3 style="color:red">@TempData["Message"]</h3>
        }
        else
        {
            <br /><br />
        }
        <form id="registerForm" asp-action="Create" method="post">
            <h2>Create a new account.</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="FullName" class="form-control" autocomplete="firstname" aria-required="true" required/>
                <label style="color:black" asp-for="FullName"></label>
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
            <br />
            <div class="form-floating">
                <input type="email" asp-for="Email" class="form-control" autocomplete="username" aria-required="true" required/>
                <label style="color:black" asp-for="Email"></label>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
             <br />
              <div class="form-floating">
                <input type="password" asp-for="PasswordHash" class="form-control" autocomplete="username" aria-required="true" required/>
                <label style="color:black">Password</label>
                <span asp-validation-for="PasswordHash" class="text-danger"></span>
            </div>
             <br />
             <div class="form-check form-switch">
                <input asp-for="EmailConfirmed" class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                <label class="form-check-label" for="flexSwitchCheckDefault">Make as Active</label>
            </div>
            <br />
             <div class="form-check form-switch">
                <input name="MakkeSuper" class="form-check-input" type="checkbox" id="flexSwitchCheckDefault2">
                <label class="form-check-label" for="flexSwitchCheckDefault2">Make as SuperAdmin</label>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
        </form>
    </div>
</div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}